<ng-template #content let-offcanvas style="position: buttom">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" style="font-size: 16px">
      شب شد. همه ی بازیکنان چشم ها را ببندند
    </h4>
  </div>
  <div class="offcanvas-body">
    <app-night></app-night>
    <div class="text-end">
      <button
        type="button"
        class="btn btn-outline-dark col-12"
        (click)="offcanvas.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
