/* You can add global styles to this file, and also import other style files */
@import "~bootstrap";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.offcanvas,
.offcanvas-xxl,
.offcanvas-xl,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 400px;
  --bs-offcanvas-height: 100vh !important;
  --bs-offcanvas-padding-x: 1rem;
  --bs-offcanvas-padding-y: 1rem;
  --bs-offcanvas-color: ;
  --bs-offcanvas-bg: #fff;
  --bs-offcanvas-border-width: 1px;
  --bs-offcanvas-border-color: var(--bs-border-color-translucent);
  --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

html {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

body {
  height: 100%;
  padding-top: env(safe-area-inset-top);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  background-color: transparent;
}

body.camera-transparent, .camera-transparent ion-nav-view, .camera-transparent ion-view { background-color: transparent !important; } 



ion-content {
  --background: transparent!important;
}
.overlay{
position:absolute;
height: 100%;
width: 100%;
z-index: 10;
}
.image {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
  background-size: contain;
}

ion-col {
  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}

.image-overlay {
  position: absolute;
  background: transparent;
  top: 30%;
  left: 17%;
  width: 65%;
  height: 30%;
  z-index: 1;
}

.cameraPreview {
  display: flex;
  width: 100%;
  height: 100%;
  background: transparent !important;
  position: absolute;
}

.someStyle{
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.mainContainer {
  position: absolute;
  z-index: 1000;
}
#capture {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  z-index: 11;
}

#close {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 175px);
  width: 50px;
  height: 50px;
  z-index: 11;
}

#flip {
  position: absolute;
  bottom: 30px;
  left: calc(50% + 125px);
  width: 50px;
  height: 50px;
  z-index: 200;
}

#close::part(native) {
  border-radius: 30px;
  background-color: darkred;
}
#capture::part(native) {
  border-radius: 30px;
}
#flip::part(native) {
  border-radius: 30px;
}
.circular-square {
  border-radius: 50%;
  background-color: red;
}

.img-preview {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

body { background: transparent !important;background-color: transparent !important;  }
ion-content { --background: transparent !important; background-color: transparent !important; }