.alive{
background-color: rgb(50, 165, 50);
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.dead{
background-color: rgb(232, 12, 52);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
}