<div class="container p-3" style="width: 100vw">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">حذف بازیکن</th>
          <th scope="col" class="text-center">حالت بازی</th>
          <th scope="col" class="text-center">نقش</th>
          <th scope="col" class="text-center">بازیکنان</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of this.playerList">
          <td class="text-center" style="vertical-align: middle">
            <button
              [disabled]="!player.alive || this.game.gameOver"
              class="btn btn-danger"
              mwlConfirmationPopover
              popoverTitle="آیا مطمعنی؟"
              popoverMessage="آیا مطمعنی برای حذف بازیکن؟"
              confirmText='حذف کن <i class="fas fa-times"></i>'
              cancelText='خیر <i class="fas fa-check"></i>'
              placement="right"
              (confirm)="killPlayer(player)"
              confirmButtonType="danger"
              cancelButtonType="outline-secondary"
            >
              حذف
            </button>
          </td>
          <td class="text-center" style="color: white; vertical-align: middle">
            <div [ngClass]="{ alive: player.alive, dead: !player.alive }">
              {{ player.alive ? "زنده" : "کشته شد" }}
            </div>
          </td>
          <td class="text-center" style="vertical-align: middle">
            {{ this.showRoles == true ? player.role : "***" }}
          </td>
          <td class="text-center" style="vertical-align: middle" scope="row">
            {{ player.name }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container" style="width: 80vw">
  <div class="row">
    <button
      class="col-12 btn btn-primary mb-3 mt-3"
      (click)="showRoles = !showRoles"
    >
      {{
        showRoles == true ? "مخفی کردن نقش بازیکنان" : "نشان دادن نقش بازیکنان"
      }}
    </button>
    <button
      [disabled]="this.game.gameOver"
      class="col-12 btn btn-primary"
      (click)="startNight()"
    >
      شب شود
    </button>
  </div>
</div>
<app-slide-out
  [gameId]="gameId"
  [gameSummaryLeft]="this.game.numberGameSummaryLeft"
></app-slide-out>
<br />
<br />
<br />
<br />
<div *ngIf="this.game.gameOver">
  <div>
    <div><p>GAME OVER</p></div>
    <div><p>برنده این بازی</p></div>
    <div>
      <p>{{ this.game.winner }}</p>
    </div>
    <div class="row justify-content-center">
      <button
        type="button"
        (click)="redirectToStartPage()"
        class="col-3 align-self-center btn btn-outline-danger btn-lg btn-block"
        style="padding: 0; margin: 0px"
      >
        شروع یک بازی جدید
      </button>
    </div>
  </div>
</div>
<div *ngIf="game.gameSummury">
  <div class="d-flex justify-content-center">
    <img style="width: 80%" src="../../../assets/rapport.png" />
  </div>
  <div dir="RTL">
    <div style="font-size: 34px">استعلام بازی</div>

    <div class="container p-3">
      <div class="row">
        <div class="col-12" *ngFor="let player of this.playerList">
          <div *ngIf="!player.alive">
            <div class="p-3 m-2" style="border: 1px solid black">
              از بازی ما یک {{ player.role }} .بیرون است
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
