<div class="container p-3" style="width: 100vw">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">حذف بازیکن</th>
          <th scope="col" class="text-center">حالت بازی</th>
          <th scope="col" class="text-center">نقش</th>
          <th scope="col" class="text-center">بازیکنان</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of this.playerList">
          <td class="text-center">
            <button
              [disabled]="!player.alive"
              class="btn btn-danger"
              mwlConfirmationPopover
              popoverTitle="آیا مطمعنی؟"
              popoverMessage="آیا مطمعنی برای حذف بازیکن؟"
              confirmText='حذف کن <i class="fas fa-times"></i>'
              cancelText='خیر <i class="fas fa-check"></i>'
              placement="right"
              (confirm)="killPlayer(player)"
              confirmButtonType="danger"
              cancelButtonType="outline-secondary"
            >
              حذف
            </button>
          </td>
          <td
            class="text-center"
            [ngClass]="{ alive: player.alive, dead: !player.alive }"
          >
            {{ player.alive ? "زنده" : "کشته شد" }}
          </td>
          <td class="text-center">
            {{ this.showRoles == true ? player.role : "***" }}
          </td>
          <td class="text-center" scope="row">{{ player.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container" style="width: 80vw">
  <div class="row">
    <button
      class="col-12 btn btn-primary mb-3 mt-3"
      (click)="showRoles = !showRoles"
    >
      {{
        showRoles == true ? "مخفی کردن نقش بازیکنان" : "نشان دادن نقش بازیکنان"
      }}
    </button>
    <button
      [disabled]="this.gameOver"
      class="col-12 btn btn-primary"
      (click)="startNight()"
    >
      شب شود
    </button>
  </div>
</div>
<app-slide-out [gameId]="gameId"></app-slide-out>
<br />
<br />
<br />
<br />
<div *ngIf="this.gameOver"><p>GAME OVER</p></div>
<div *ngIf="this.gameOver"><p>برنده این بازی</p></div>
<div *ngIf="this.gameOver">
  <p>{{ winner }}</p>
</div>
