<div style="overflow: scroll; height: 100vh">
  <div
    dir="RTL"
    class="d-flex justify-content-start align-items-center mb-3 p-3"
    style="
      border: 1px solid grey;
      height: 35px;
      background-color: gray;
      border-radius: 4px;
      color: whitesmoke;
    "
  >
    شهر
  </div>
  <ol dir="RTL" class="list-group list-group m-0 p-0">
    <li
      *ngFor="let player of playerList | city"
      class="list-group-item d-flex justify-content-start align-items-center"
    >
      <div class="p-0 m-0">
        <div class="fw-bold" style="font-size: 16px">
          {{ player.role }} شهر بیدار شود
        </div>
        <div>
          اسم بازیکن:
          <span [ngClass]="{ deadText: player.alive == false }">{{
            player.name
          }}</span>
          <span class="deadText" *ngIf="player.alive == false"> کشته شده</span>
        </div>
      </div>
      <div
        *ngIf="!player.turn && !player.hasSelect"
        style="position: absolute; left: 5%"
      >
        <button
          *ngIf="player.alive"
          (click)="startPlayerTurn(player)"
          class="btn btn-primary"
        >
          بیدار کن
        </button>
      </div>
      <div
        *ngIf="player.turn && !player.hasSelect && player.alive"
        class="waitningSelect badge bg-primary rounded-pill"
        style="position: absolute; left: 5%"
      >
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div
        *ngIf="player.hasSelect && player.alive"
        class="hasSelected badge bg-primary rounded-pill"
        style="position: absolute; left: 5%"
      >
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div
        *ngIf="!player.alive"
        class="dead badge bg-primary rounded-pill"
        style="position: absolute; left: 5%"
      >
        <fa-icon [icon]="faSkullCrossbones"></fa-icon>
      </div>
    </li>
  </ol>
  <div
    dir="RTL"
    class="d-flex justify-content-start align-items-center mt-3 p-3"
    style="
      border: 1px solid grey;
      height: 35px;
      background-color: gray;
      border-radius: 4px;
      color: whitesmoke;
    "
  >
    مافیا بیدار شوند!
  </div>
  <ol dir="RTL" class="list-group list-group m-0 p-0">
    <li
      *ngFor="let player of playerList | mafia"
      class="list-group-item d-flex justify-content-start align-items-center"
    >
      <div class="p-0 m-0">
        <div class="fw-bold" style="font-size: 16px">
          {{ player.role }} انتخاب کن
        </div>
        <div>
          اسم بازیکن:
          <span [ngClass]="{ deadText: player.alive == false }">{{
            player.name
          }}</span>
          <span class="deadText" *ngIf="player.alive == false"> کشته شده</span>
        </div>
      </div>
      <div
        *ngIf="!player.turn && !player.hasSelect"
        style="position: absolute; left: 5%"
      >
        <button
          *ngIf="player.alive"
          (click)="startPlayerTurn(player)"
          class="btn btn-primary"
        >
          بیدار کن
        </button>
      </div>
      <div
        *ngIf="player.turn && !player.hasSelect && player.alive"
        class="waitningSelect badge bg-primary rounded-pill"
        style="position: absolute; left: 5%"
      >
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div
        *ngIf="player.hasSelect && player.alive"
        class="hasSelected badge bg-primary rounded-pill"
        style="position: absolute; left: 5%"
      >
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div
        *ngIf="!player.alive"
        class="dead badge bg-primary rounded-pill"
        style="position: absolute; left: 5%"
      >
        <fa-icon [icon]="faSkullCrossbones"></fa-icon>
      </div>
    </li>
  </ol>
  <div class="text-end">
    <button
      [disabled]="!hasAllPlayersMoved"
      type="button"
      class="btn btn-outline-dark col-12 mt-3"
      (click)="EndNight()"
    >
      اتمام شب
    </button>
  </div>
</div>
