.div {
  font-size: 12px;
}
.badge {
  margin: 10px 29px 10px 10px !important;
  color: white;
}
.waitningSelect {
  background-color: gray !important;
}
.hasSelected {
  background-color: rgba(6, 123, 0, 0.824) !important;
}

.dead {
  background-color: rgba(185, 0, 0, 0.824) !important;
}

.deadText {
  margin-right: 8px;
  color: rgba(185, 0, 0, 0.824);
}

.styleRight {
  position: absolute;
  right: 5%;
}
.styleLeft {
  position: absolute;
  left: 5%;
}

.playerNameText{
  font-size: 12px;
}

@media screen and (max-width:380px) {
  .container{
     overflow: scroll;
  }
  .kickBtn{
 
     font-size: 10px;
     padding: 4px;
  }
  td{
     padding: 4px;
     font-size: 12px;
  }
  th{
     font-size: 12px;
  }
  .alive{
     background-color: rgb(50, 165, 50);
         color: white;
         font-size: 12px;
         font-weight: bold;
     }
     
     .dead{
     background-color: rgb(232, 12, 52);
         color: rgb(255, 255, 255);
         font-size: 12px;
         font-weight: bold;
     }
 
     .btnSelect{
         font-size: 12px;
         width: 80%;
         box-shadow: 0px 1px 15px rgba(0, 0, 0,0.1) !important;
     }

     .cityLable{
      font-size: 16px !important;
     }

     .mafiaLable{
      font-size: 16px !important;
     }

     .playerNameText{
      font-size: 8px;
    }

    .wakeUppPlayerName{
      font-size: 12px !important;
    }
    .wakeUppBtn{
      font-size: 12px;
      padding: 6px;
    }
.btnUtdrag{
  font-size: 12px;
  padding: 6px;
  margin: 4px !important;
}
   }
 