<div style="overflow: scroll; height: 100vh">
  <div
    dir="RTL"
    class="d-flex justify-content-start align-items-center mb-3 p-3"
    style="
      border: 1px solid grey;
      height: 35px;
      background-color: gray;
      border-radius: 4px;
      color: whitesmoke;
    "
  >
    شهر
  </div>

  <ol dir="RTL" class="list-group list-group m-0 p-0">
    <li class="list-group-item d-flex justify-content-start align-items-center">
      <div class="p-0 m-0">
        <div class="fw-bold" style="font-size: 16px">
          دکتر شهر بیدار شود و یکی را سیو کند
        </div>
        <div>اسم بازیکن: Hami</div>
      </div>
      <div
        class="badge bg-primary rounded-pill"
        style="position: absolute; left: 5%"
      >
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-start align-items-center">
      <div class="p-0 m-0 col-8">
        <div class="fw-bold" style="font-size: 16px">
          تک تیرنداز بیدار شود اگر میخواهد شلیک کند
        </div>
        <div>اسم بازیکن: Hami</div>
      </div>
      <div
        class="badge bg-primary rounded-pill"
        style="position: absolute; left: 5%"
      >
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-start align-items-center">
      <div class="p-0 m-0">
        <div class="fw-bold" style="font-size: 16px">
          کاراگاه بیدار شود و استعلام بگیرد
        </div>
        <div>اسم بازیکن: Hami</div>
      </div>
      <div
        class="badge bg-primary rounded-pill"
        style="position: absolute; left: 5%"
      >
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-start align-items-center">
      <div class="p-0 m-0">
        <div class="fw-bold" style="font-size: 16px">
          جان سخت بیدار شود اگر استعلام میخواهد
        </div>
        <div>اسم بازیکن: Hami</div>
      </div>
      <div
        class="badge bg-primary rounded-pill"
        style="position: absolute; left: 5%"
      >
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
    </li>
  </ol>
  <div
    dir="RTL"
    class="d-flex justify-content-start align-items-center mt-3 p-3"
    style="
      border: 1px solid grey;
      height: 35px;
      background-color: gray;
      border-radius: 4px;
      color: whitesmoke;
    "
  >
    مافیا بیدار شوند!
  </div>
  <ol dir="RTL" class="list-group list-group m-0 p-0">
    <li class="list-group-item d-flex justify-content-start align-items-center">
      <div class="p-0 m-0">
        <div class="fw-bold" style="font-size: 16px">
          دکتر لکتر بیدار شود و یکی را سیو کند
        </div>
        <div>اسم بازیکن: Hami</div>
      </div>
      <div
        class="badge bg-primary rounded-pill"
        style="position: absolute; left: 5%"
      >
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-start align-items-center">
      <div class="p-0 m-0 col-8">
        <div class="fw-bold" style="font-size: 16px">
          گادفادر به چه کسی شلیک میکنی شلیک کند؟
        </div>
        <div>اسم بازیکن: Hami</div>
      </div>
      <div
        class="badge bg-primary rounded-pill"
        style="position: absolute; left: 5%"
      >
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
    </li>
  </ol>
</div>
