<div>
  <div class="image" style="background-image: url('../../assets/Mafia.jpg')">
    <div
      class="row align-items-center justify-content-center m-0 p-0"
      style="height: 100vh; width: 100vw"
    >
      <div class="row justify-content-center" *ngIf="!showJoin">
        <div class="m-3 d-flex justify-content-center">
          <button
            class="btn btn-primary btn-lg"
            (click)="createNewGame()"
            translate="startNewGame"
          ></button>
        </div>
        <div class="m-3 d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-secondary btn-lg"
            (click)="showJoinInput()"
            translate="joinGame"
          ></button>
        </div>
        <div class="input-group m-3 d-flex justify-content-center">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Language</label
            >
          </div>
          <select
            ngModel="fa"
            (ngModelChange)="langChoosed($event)"
            class="custom-select"
            id="inputGroupSelect01"
          >
            <option value="fa">فارسی</option>
            <option value="en">English</option>
            <option value="sv">Svenska</option>
          </select>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="showJoin">
        <div *ngIf="this.gameStartedError" class="d-flex alert alert-danger justify-content-center" role="alert">
          این بازی شروع شده است. یک شماره ی دیگر وارد کنید
        </div>
        <div *ngIf="this.playerExistError" class="d-flex alert alert-danger justify-content-center" role="alert">
          این بازی شروع شده است. یک شماره ی دیگر وارد کنید
        </div>
        <div class="m-3 d-flex justify-content-center">
          <div class="input-group has-validation">
            <span
              class="input-group-text"
              style="width: auto"
              translate="gameId"
            ></span>
            <div class="form-floating">
              <input
                [(ngModel)]="newGameId"
                type="text"
                class="form-control"
                id="floatingInputGroup2"
                placeholder="GameId"
                required
              />
              <label
                for="floatingInputGroup2"
                style="font-size: 14px; color: grey"
                translate="enterGameId"
              ></label>
            </div>
          </div>
        </div>
        <div class="m-3 d-flex justify-content-center">
          <div class="input-group has-validation">
            <span
              class="input-group-text"
              style="width: auto"
              translate="yourName"
            ></span>
            <div class="form-floating">
              <input
                [(ngModel)]="userName"
                type="text"
                class="form-control"
                id="floatingInputGroup2"
                placeholder="Username"
                required
              />
              <label
                for="floatingInputGroup2"
                style="font-size: 14px; color: grey"
                translate="enterName"
              ></label>
            </div>
          </div>
        </div>
        <div class="m-3 d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-primary btn-lg col-12"
            (click)="joinGame()"
            [disabled]="!(newGameId && userName)"
            translate="joinGame"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-player-dashboard></app-player-dashboard>
