.image {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position:absolute;
    }


    .container{
        width: 100vw !important;
        max-width: 100vw !important;
        padding-right: 0px;
    }