<div
  *ngIf="!this.gameStarted"
  dir="rtl"
  style="
    position: absolute;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
  "
  [ngClass]="{ playerJoined: this.playerList.length > 0 }"
>
  <div
    class="align-items-center justify-content-center"
    style="background-color: green; color: aliceblue; border-radius: 25px"
  >
    <div class="row text-center">
      <div translate="askJoinGameId"></div>
      <div style="font-weight: bold; font-size: 20px">{{ this.gameId }}</div>
    </div>
  </div>
</div>

<div
  *ngIf="!this.gameStarted"
  dir="rtl"
  style="
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    left: 0;
    right: 0;
    text-align: center;
  "
>
  <div *ngIf="!this.newGameStart">
    <div
      class="mt-3 row d-flex align-items-center justify-content-center"
      style="
        border-radius: 15px;
        background-color: rgb(0, 139, 177);
        color: white;
        font-size: 16px;
        width: 75%;
        font-weight: bold;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
      "
      *ngFor="let item of this.playerList"
    >
      {{ item.name }}
    </div>
  </div>
  <div
    *ngIf="!isUserHost"
    class="d-flex m-1 align-items-center justify-content-center"
    style="color: rgb(0, 0, 0); font-size: 22px; font-weight: bold"
    translate="waitingForHost"
  ></div>
  <div
    *ngIf="isUserHost && this.playerList.length > 0"
    class="row align-items-center justify-content-center"
  >
    <div
      class="d-flex align-items-center justify-content-center m-3"
      *ngIf="this.playerList.length < 6"
      style="color: rgb(0, 0, 0)"
      translate="minPlayersReq"
    ></div>
    <button
      [disabled]="this.playerList.length < 6"
      class="btn btn-primary m-3"
      style="
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
      "
      (click)="startTheGame(playerList)"
      translate="dealRolesSlump"
    ></button>
  </div>
</div>

<button
  *ngIf="!this.gameStarted"
  (click)="playerExit()"
  class="btn btn-danger"
  style="
    position: absolute;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    top: 85%;
    left: 0;
    right: 0;
    text-align: center;
  "
  translate="exit"
></button>

<div
  *ngIf="!this.showPlayerRole && this.gameStarted"
  class="d-flex flex-column justify-content-center align-items-center"
  style="height: 100vh; font-size: 25px"
>
  <div translate="yourRoleWillShow"></div>
  <div style="font-weight: bold">
    {{ timeLeft }}
  </div>
</div>
<div *ngIf="this.showPlayerRole" class="anim d-flex justify-content-center">
  <div class="cardRole row mt-3">
    <p class="d-flex justify-content-center mt-5">
      {{ player.role | translate }}
    </p>
    <div class="d-flex justify-content-center">
      <img [src]="'../../../assets/' + player.role + '.png'" />
    </div>
  </div>
</div>
