<div
  *ngIf="!this.showPlayerRole && !gameStarted"
  class="container"
  style="background-color: orange"
>
  <div
    *ngIf="!this.playerList || this.newGameStart"
    class="row align-items-center justify-content-center"
    style="height: 100vh; width: 100vw"
  >
    <div
      class="d-flex align-items-center justify-content-center"
      style="
        height: 100px;
        width: 75%;
        background-color: green;
        color: aliceblue;
        border-radius: 25px;
      "
    >
      <div class="row text-center">
        <div>Ask other to join with your game ID:</div>
        <div style="font-weight: bold; font-size: 20px">{{ this.gameId }}</div>
      </div>
    </div>
  </div>

  <div *ngIf="!this.newGameStart">
    <div
      class="d-flex m-3 align-items-center justify-content-center"
      style="
        height: auto;
        width: auto;
        background-color: green;
        color: aliceblue;
        border-radius: 25px;
      "
    >
      <div class="row text-center">
        <div>Ask other to join with your game ID:</div>
        <div style="font-weight: bold; font-size: 20px">{{ this.gameId }}</div>
      </div>
    </div>
    <div
      class="col-4 m-3 p-2"
      style="background-color: grey; color: aliceblue; border-radius: 25px"
    >
      Player joined:
    </div>
    <div
      class="d-flex m-3 align-items-center justify-content-center"
      style="
        height: auto;
        width: auto;
        background-color: green;
        color: aliceblue;
        border-radius: 25px;
      "
      *ngFor="let item of this.playerList"
    >
      {{ item.name }}
    </div>
    <div
      *ngIf="!isUserHost"
      class="d-flex m-3 align-items-center justify-content-center"
      style="
        height: 100px;
        width: auto;
        background-color: black;
        color: aliceblue;
        border-radius: 25px;
      "
    >
      Waiting for host to start the game
    </div>
    <div
      *ngIf="isUserHost"
      class="row align-items-center justify-content-center"
    >
      <div
        *ngIf="this.playerList.length < 6"
        style="height: auto; width: auto; margin-bottom: 12px; color: white"
      >
        حداقل تعداد بازیکنان برای شروع بازی 6 نفر است
      </div>
      <button
        [disabled]="this.playerList.length < 6"
        class="btn btn-primary"
        style="height: auto; width: auto"
        (click)="startTheGame(playerList)"
      >
        پخش شانسی کارت ها
      </button>
    </div>
  </div>

  <button
    (click)="playerExit()"
    class="btn btn-danger"
    style="position: fixed; right: 10%; top: 90%"
  >
    خروج
  </button>
</div>
<div
  *ngIf="!this.showPlayerRole && this.gameStarted"
  class="d-flex flex-column justify-content-center align-items-center"
  style="height: 100vh; font-size: 25px"
>
  <div>نقش شما بزودی نمایش داده میشود</div>
  <div style="font-weight: bold">
    {{ timeLeft }}
  </div>
</div>
<div *ngIf="this.showPlayerRole" class="anim d-flex justify-content-center">
  <div class="cardRole row mt-3">
    <p class="d-flex justify-content-center mt-5">کاراگاه</p>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/FindMafia.png" />
    </div>
  </div>
</div>
<div *ngIf="this.showPlayerRole" class="d-flex justify-content-center">
  <div *ngIf="this.player.role == 'detectiv'" class="row mt-3">
    <div class="d-flex justify-content-center" style="font-size: 20px">
      کاراگاه
    </div>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/FindMafia.png" />
    </div>
  </div>
  <div *ngIf="this.player.role == 'doctor'" class="row mt-3">
    <div class="d-flex justify-content-center" style="font-size: 20px">
      دکتر شهر
    </div>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/doctor.png" />
    </div>
  </div>
  <div *ngIf="this.player.role == 'diehard'" class="row mt-3">
    <div class="d-flex justify-content-center" style="font-size: 20px">
      جان سخت
    </div>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/diehard.png" />
    </div>
  </div>
  <div *ngIf="this.player.role == 'sniper'" class="row mt-3">
    <div class="d-flex justify-content-center" style="font-size: 20px">
      تک تیرنداز
    </div>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/Sniper.png" />
    </div>
  </div>
  <div *ngIf="this.player.role == 'mafia'" class="row mt-3">
    <div class="d-flex justify-content-center" style="font-size: 20px">
      مافیا ساده
    </div>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/Mafia_Simple.png" />
    </div>
  </div>
  <div *ngIf="this.player.role == 'doctorLekter'" class="row mt-3">
    <div class="d-flex justify-content-center" style="font-size: 20px">
      دکتر لکتر مافیا
    </div>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/DoctorLekter.png" />
    </div>
  </div>
  <div *ngIf="this.player.role == 'godfather'" class="row mt-3">
    <div class="d-flex justify-content-center" style="font-size: 20px">
      پدرخوانده مافیا
    </div>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/GodFather.png" />
    </div>
  </div>
  <div *ngIf="this.player.role == 'medborgare'" class="row mt-3">
    <div class="d-flex justify-content-center" style="font-size: 20px">
      شهروند ساده
    </div>
    <div class="d-flex justify-content-center">
      <img src="../../../assets/Medborgare.png" />
    </div>
  </div>
</div>
