<div
  [dir]="this.dir"
  style="width: 100%; padding-left: 12px; padding-right: 12px"
>
  <div
    *ngIf="!this.gameStarted"
    style="
      position: absolute;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      top: 35%;
      left: 0;
      right: 0;
      text-align: center;
    "
    [ngClass]="{ playerJoined: this.playerList.length > 0 }"
  >
    <div
      class="align-items-center justify-content-center"
      style="
        position: relative;
        background-color: green;
        color: aliceblue;
        border-radius: 25px;
        z-index: 999;
      "
    >
      <div class="row text-center">
        <div translate="askJoinGameId"></div>
        <div style="font-weight: bold; font-size: 20px">{{ this.gameId }}</div>
      </div>
    </div>
  </div>

  <div *ngIf="!this.gameStarted" style="margin-top: 150px; text-align: center">
    <div
      *ngIf="!this.newGameStart"
      class="d-flex flex-row justify-content-center flex-wrap gap-3"
    >
      <div
        *ngFor="let item of this.playerList"
        class="d-inline-flex flex-column gap-0 mb-3"
        style="
          width: 45%;
          background: linear-gradient(150deg, #0ff0b3, #036ed9 100%);

          border-radius: 10px;
        "
      >
        <div>
          <img *ngIf="item.image" [src]="item.image" class="image-avatar" />
          <img
            *ngIf="!item.image"
            src="./assets/emptyprofile.png"
            class="image-avatar"
          />
        </div>
        <p
          class="flex-wrap"
          style="
            font-size: 16px;
            font-weight: bold;
            min-width: 0;
            margin-top: -15px;
          "
        >
          {{ item.name }}
        </p>
      </div>
      <div
        *ngIf="!isUserHost"
        class="d-flex align-items-center col-12 justify-content-center"
        style="color: rgb(0, 0, 0); font-size: 22px; font-weight: bold"
        translate="waitingForHost"
      ></div>
      <div
        *ngIf="isUserHost && this.playerList.length > 0"
        class="row col-12 align-items-center justify-content-center"
      >
        <div
          class="d-flex col-12 align-items-center justify-content-center m-3"
          *ngIf="this.playerList.length < 6"
          style="color: rgb(0, 0, 0)"
          translate="minPlayersReq"
        ></div>
        <button
          [disabled]="this.playerList.length < 6"
          class="btn col-5 btn-primary m-3"
          style="text-align: center"
          (click)="startTheGame(playerList)"
          translate="dealRolesSlump"
        ></button>
      </div>
    </div>
    <div
      class="row d-flex align-items-center justify-content-center mt-3 p-0"
      *ngIf="!this.gameStarted"
    >
      <button
        (click)="playerExit()"
        class="btn btn-danger p-2 m-0"
        style="text-align: center; width: 22%"
        translate="exit"
      ></button>
    </div>
  </div>
  <div
    *ngIf="!this.showPlayerRole && this.gameStarted"
    class="d-inline-flex flex-column justify-content-center align-items-center"
    style="height: 100vh; font-size: 25px"
  >
    <div class="text-center mb-3" translate="yourRoleWillShow"></div>
    <div style="font-weight: bold">
      {{ timeLeft }}
    </div>
  </div>
  <div *ngIf="this.showPlayerRole" class="row p-0 justify-content-center">
    <div class="col-10 p-0 mt-5" *ngIf="this.player.mafia == true">
      <table class="table table-striped">
        <thead>
          <tr
            scope="row"
            class="text-center"
            style="font-weight: bold; font-size: large"
            translate="yourmates"
          ></tr>
          <tr>
            <th scope="col" class="text-center">نام</th>
            <th scope="col" class="text-center">نقش</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of this.yourMatesMafia">
            <td class="text-center" style="vertical-align: middle" scope="row">
              {{ player.name }}
            </td>
            <td class="text-center" style="vertical-align: middle">
              {{ player.role | translate }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cardRole col-5 mt-3">
      <p
        class="d-flex justify-content-center mt-4"
        translate="yourrole"
        style="font-weight: bold"
      ></p>
      <p class="d-flex justify-content-center mt-4" style="font-weight: bolder">
        {{ player.role | translate }}
      </p>
      <div class="d-flex justify-content-center">
        <img [src]="'../../../assets/' + player.role + '.png'" />
      </div>
    </div>
  </div>
</div>
