.container{
    width:100vw;
    height: 100vh;
    max-width: 100vw;
    max-height:100vh;
    overflow: scroll;
}




.cardRole {
    position: absolute;
        top: 20px;
        background-color: antiquewhite;
        border-radius: 65px;
        width: 75vw;
    
        animation: mymove 5s;
    img{
    animation: mymove 5s;
    top: 20px;
    width: 75vw;
    }
    p{
        font-size: 30px;
            font-weight: bold;
        
    animation: text 5s;
    }
}



@keyframes mymove {
    0% {
        top: 0px;
        width: 15vw;
     
    }

    100% {
        top: 20px;
        width: 75vw;
        
    }
}

@keyframes text {
    0% {
        font-size: 10px;

    }

    100% {
        font-size: 30px;
    }
}
