<div [dir]="this.dir">
  <div *ngIf="!this.isGameFinished && this.playerAlive">
    <div class="container" *ngIf="this.turn">
      <div class="d-flex justify-content-center">
        <div class="row mt-3">
          <div
            class="d-flex justify-content-center"
            style="font-size: 20px; padding-right: 30px"
          >
            {{ (this.player | async)!.role | translate }}
          </div>
          <div class="d-flex justify-content-center">
            <img
              [src]="'../../../assets/' + (this.player | async)!.role + '.png'"
            />
          </div>
        </div>
      </div>
      <div
        class="row justify-content-center"
        style="position: relative; z-index: 999"
      >
        <div
          *ngIf="selfRole != 'doctorLekter' && selfRole != 'doctor'"
          style="display: contents"
        >
          <div
            *ngFor="let player of this.playerList"
            (click)="selectPlayer(player)"
            class="col-5 selectDiv text-center m-2 p-3"
            [ngClass]="{ select: !player.selected }"
          >
            <div *ngIf="player.alive && player.id != playerId">
              {{ player.name }}
            </div>
          </div>
        </div>
        <div *ngIf="selfRole == 'doctorLekter'" style="display: contents">
          <div
            *ngFor="let player of this.doctoLekterList"
            (click)="selectPlayerDocLek(player)"
            class="col-5 selectDiv text-center m-2 p-3"
            [ngClass]="{ select: !player.selected }"
          >
            {{ player.name }}
          </div>

          <button
            *ngIf="this.doctoLekterList.length <= 0"
            class="btn m-3 btn-primary col-7"
            (click)="sumbitSelect()"
          >
            بازیکنی برای نجات وجود ندارد. برای کلیک کنید
          </button>
        </div>
        <div *ngIf="selfRole == 'doctor'" style="display: contents">
          <div
            *ngFor="let player of this.playerList"
            (click)="selectPlayer(player)"
            class="col-5 selectDiv text-center m-2 p-3"
            [ngClass]="{ select: !player.selected }"
          >
            <div *ngIf="player.alive == true">
              <div *ngIf="!(player.role == 'doctor' && player.selfsaved)">
                {{ player.name }}
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <button
            translate="choosePlayer"
            [disabled]="!this.playerSelected"
            class="btn m-3 btn-primary col-4 shadow-lg p-2 mb-5 rounded"
            (click)="sumbitSelect()"
          ></button>
        </div>
      </div>
    </div>
    <div *ngIf="this.turn == false && isNight == true && this.playerAlive">
      <div
        class="d-flex flex-column justify-content-center align-items-center"
        style="width: 100vw; height: 100vh"
      >
        <div
          translate="closeEyes"
          class="badge text-bg-danger p-3"
          style="font-size: 18px; color: red"
        ></div>
        <img src="../../../assets/nolook.png" />
      </div>
    </div>
    <div
      *ngIf="this.showPlayerRole"
      style="
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: -100px;
        z-index: 999;
      "
      class="d-flex justify-content-center align-items-center"
    >
      <div
        class="circular_image d-flex flex-column justify-content-center align-items-center"
      >
        <p
          class="redColor"
          style="font-size: 40px"
          *ngIf="this.isMafia"
          translate="isMafia"
        ></p>
        <img
          *ngIf="this.isMafia"
          class=""
          src="../../../assets/LikeBlack.png"
        />
        <p
          class="greenColor"
          *ngIf="!this.isMafia"
          translate="isMedborgare"
        ></p>
        <img *ngIf="!this.isMafia" class="" src="../../../assets/DisLike.png" />
      </div>
    </div>
    <div
      *ngIf="isNight == false"
      style="overflow-x: hidden; overflow-y: hidden"
    >
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 100vh"
      >
        <div>
          <div
            class="fade-in-text d-flex justify-content-center"
            style="margin-left: 12px; margin-right: 12px"
          >
            <div class="textDiv" translate="morning"></div>
          </div>
          <div class="d-flex justify-content-center">
            <app-sun></app-sun>
          </div>
          <div class="d-flex justify-content-center">
            <img src="../../../assets/FindMafia.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="this.isGameFinished">
    <div
      class="d-flex flex-column justify-content-center align-items-center"
      style="width: 100vw; height: 50vh"
    >
      <div><p class="animP">GAME OVER</p></div>
      <div><p class="animP" translate="winnerIs"></p></div>
      <div>
        <p class="animP">{{ winner }}</p>
      </div>
      <div class="row justify-content-center">
        <button
          translate="startNewGame"
          type="button"
          (click)="redirectToStartPage()"
          class="col-12 align-self-center btn btn-outline-danger btn-lg btn-block shadow-lg m-3 p-3 bg-white rounded"
          style="padding: 0; margin: 0px"
        ></button>
      </div>
    </div>
  </div>
  <div *ngIf="!this.playerAlive && !this.isGameFinished">
    <div
      class="d-flex flex-column justify-content-center align-items-center"
      style="width: 100vw; height: 50vh"
    >
      <div
        style="font-size: 33px; color: rgb(167, 0, 0)"
        translate="youareDead"
      ></div>
      <img style="width: 100%" src="../../../assets/blood2.png" />
    </div>
    <div class="row justify-content-center">
      <button
        translate="startNewGame"
        type="button"
        (click)="redirectToStartPage()"
        class="col-6 align-self-center btn btn-outline-danger btn-lg btn-block shadow-lg p-3 mb-5 bg-white rounded"
        style="padding: 0; margin: 0px"
      ></button>
    </div>
  </div>
</div>
